:root {
    --color-primary: hsl(224, 30%, 27%);
    --color-white: hsl(0, 0%, 100%);
    --color-light-purple: #CEBEFF;
    --color-dark-purple: rgb(59,48,238);
    --color-gradient-start: rgba(59,48,238,1);
    --color-gradient-middle: rgba(78,56,245,1);
    --color-gradient-end: rgba(103,67,255,1);
    --color-gradiente-circle-s: rgba(73,39,211,1);
    --color-gradiente-circle-e: rgba(70,51,235,1);
    --color-reaction-bg: #FFF6F6;
    --color-memory-bg: #FFFAF3;
    --color-verbal-bg: #F2FBFA;
    --color-visual-bg: #F3F3FD;
    --color-reaction: hsl(0, 100%, 67%);
    --color-memory: hsl(39, 100%, 56%);
    --color-verbal: hsl(166, 100%, 37%);
    --color-visual: hsl(234, 85%, 45%);
    --font-hanken: "Hanken Grotesk", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-hanken);
    font-size: 17px;
}

.results-summary {
    width: 100%;
}

.results-section {
    background: linear-gradient(0deg, var(--color-gradient-start) 20%, var(--color-gradient-middle) 50%, var(--color-gradient-end) 85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0 30px;
    border-radius: 0 0 30px 30px;
}

.results-title {
    color: var(--color-light-purple);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.score-circle {
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 220px;
    background: linear-gradient(0deg, var(--color-gradiente-circle-e) 30%, var(--color-gradiente-circle-s) 75%);
}

.score-number {
    font-size: 45px;
    color: var(--color-white);
    font-weight: 800;
}

.score-text {
    font-size: 12px;
    color: #897DFC;
    font-weight: 900;
}

.evaluation-title {
    color: var(--color-white);
    text-align: center;
}

.evaluation-text {
    color: #CEC0FF;
    margin: 10px auto 0;
    width: 70%;
    font-size: 14px;
}

.summary-section {
    width: 80%;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summary-title {
    color: var(--color-primary);
    margin-top: 20px;
}

.summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 46px;
    border-radius: 8px;
}

.summary-item span {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}

.summary-reaction {
    background: var(--color-reaction-bg);
}

.summary-memory {
    background: var(--color-memory-bg);
}

.summary-verbal {
    background: var(--color-verbal-bg);
}

.summary-visual {
    background: var(--color-visual-bg);
}

.score-bold {
    font-weight: 700;
    color: var(--color-primary);
}

.summary-score {
    color: hsl(244, 10%, 70%);
}

.summary-reaction .summary-label {
    color: var(--color-reaction);
    font-weight: 700;
    gap: 8px;
}

.summary-memory .summary-label {
    color: var(--color-memory);
    font-weight: 700;
    gap: 8px;
}

.summary-verbal .summary-label {
    color: var(--color-verbal);
    font-weight: 700;
    gap: 8px;
}

.summary-visual .summary-label {
    color: var(--color-visual);
    font-weight: 700;
    gap: 8px;
}

.button-continue {
    height: 46px;
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width: 620px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .results-summary {
        max-width: 570px;
        height: 395px;
        display: flex;
        justify-content: center;
        border-radius: 30px;
        box-shadow: 5px 5px 35px 5px rgb(229, 231, 255);
        overflow: hidden;
    }
    .results-section {
        width: 50%;
        justify-content: space-between;
        padding: 30px;
        border-radius: 30px;
    }
    .score-circle {
        width: 150px;
        height: 150px;
    }
    .results-title {
        font-size: 17px;
    }
    .evaluation-title {
        font-size: 22px;
    }
    .evaluation-text {
        width: 85%;
        text-align: center;
    }
    .summary-section {
        width: 50%;
        padding: 30px;
        gap: 12px;
        justify-content: space-between;
        background: white;
        margin: 0;
    }
    .summary-title {
        margin: 0;
    }
    .button-continue {
        margin-top: 20px;
    }
}